#ant specific
dist/
build/
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

# Package Files #
*.jar
*.war
*.ear

### Ignorowane pliki tworzone przez program ###
# kopie bazy danych
dbCopy/
# wygenerowane pliki .pdf z fakturami
fakturyPDF/
# plik konfiguracyjny aplikacji
ddFaktury.conf
